:root {
  /* variables */

  /* Colors */
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);

  /* Typography */
  --fs-15: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Very-Light-Gray);
  font-size: var(--fs-15);
  font-family: "Poppins", sans-serif;
  margin: 4rem 0;
}

p {
  color: var(--Grayish-Blue);
}

main {
  max-width: 82%;
}

main,
main h1,
main > p {
  margin: 0 auto;
}

main h1,
main > p {
  text-align: center;
}

main h1 {
  color: var(--Very-Dark-Blue);
  font-size: 1.5rem;
  font-weight: 200;
  margin-bottom: 1rem;
}

h1 span {
  font-weight: 600;
}

main > p {
  max-width: 320px;
  margin-bottom: 4rem;
}

.card {
  border-radius: 5px;
  padding: 1.51rem;
  box-shadow: 2px 2px 12px hsla(229, 6%, 66%, 0.9);
  margin-bottom: 2rem;
}

.card h2 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 0.85rem;
  line-height: 1.7;
  margin-bottom: 2rem;
}

.card img {
  max-width: 55px;
  display: block;
  margin-left: auto;
}

.card.cyan {
  border-top: 3px solid var(--Cyan);
}

.card.red {
  border-top: 3px solid var(--Red);
}

.card.orange {
  border-top: 3px solid var(--Orange);
}

.card.blue {
  border-top: 3px solid var(--Blue);
}

@media (min-width: 1440px) {
  main {
    max-width: 70%;
  }

  main > h1 {
    max-width: 570px;
    font-size: 2.9rem;
    line-height: 1.3;
  }

  main > p {
    max-width: 650px;
    font-size: 1.2rem;
    margin-bottom: 4rem;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    gap: 2rem;
  }

  .card {
    margin-bottom: 0;
  }

  .card img {
    max-width: initial;
  }

  .card.cyan {
    grid-row: 1/-1;
  }

  .card.red {
    grid-row: 1/2;
  }

  .card.orange {
    grid-row: 2/3;
  }

  .card.blue {
    grid-row: 1/-1;
  }
}
